@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// COLORS
$verde-neuromat: #2dc450;

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, span, a{
    font-family: 'Open Sans', sans-serif;
}

// BREAKPOINTS . MEDIA QUERIES

// Smartphones
$mq-smartphones-portrait-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";
$mq-smartphones-portrait: "only screen and (max-width : 320px)";
$mq-smartphones-landscape: "only screen and (min-width : 321px)";

// iPads
$mq-ipads-portrait-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$mq-ipads-portrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
$mq-ipads-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";

// Large Screens
$mq-desktops-laptops: "only screen and (min-width : 1224px)";
$mq-large-screens: "only screen and (min-width : 1824px)";

// HEADING
.section-title{
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid green;
    span{
        position: relative;
        &:before{
            content: '';
            bottom: -3px;
            left: 0;
            width: 120%;
            height: 2px;
            background-color: rgb(78, 133, 46);
            z-index: 500;
            position: absolute;
        }
    }
}

.app-portal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;

    header{
        display: flex;
        //border-bottom: 1px solid #333;
        width: 80%;
        height: 80px;
        margin: auto;
        align-items: center;
        justify-content: space-between; 
        .logo{
            width: 200px;
            height: 80px;
            font-size: 2.5em;
            font-weight: bold;
            display: flex;
            align-items: center;
        }
        nav{
            width: 70%;
            ul{
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                font-size: 1em;
                z-index: 9999;
                li.social-media-link{
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    margin-left: 0;
                    border: none;
                    &:hover{
                        border: none;
                    }
                    a{
                        color: #333;
                        font-size: 1.2em;
                        &:hover{
                            color: rgb(18, 88, 122);;
                        }
                    }
                }
                li{
                    margin-right: 15px;
                    padding: 15px;
                    position: relative;
                    border: 1px solid transparent;
                    &:hover{
                        border: 1px solid #333;
                        &:after{
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: white;
                            position: absolute;
                            bottom: 1px;
                            left: 0;
                            z-index: 99000;
                        }                        
                    
                        ul{
                            display: flex;
                        }
                    }
                    a{
                        color: #333;
                        text-decoration: none;
                    }
                    ul{
                        display: none;
                        position: absolute;
                        top: 48px;
                        left: -1px;
                        flex-direction: column;
                        background: white;
                        width: 220px;
                        margin: 0;
                        padding: 5px 0 0 0;
                        border-top: 1px solid #333;
                        border-bottom: 1px solid #333;
                        border-left: 1px solid #333;
                        border-right: 1px solid #333;
                        list-style: none;
                        li{
                            display: flex;
                            padding: 8px;
                            width: 100%;
                            margin: 0;
                            &:hover{
                                background: #f3f3f3;
                                border: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-default{
    width: 80%;
    margin: auto;
}

.promo-banner{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    background: transparent;
    display: flex;
    box-shadow: 4px 4px 10px black;
    .promo-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 300px;
        margin: 2px;
        border: 0.5px solid white;
        background-size: cover;
        background-position: center;
        background-color: transparent;
        @media #{$mq-desktops-laptops}{

        }             
        
        &:hover{
            border: 0.5px solid $verde-neuromat;
            .title{
                display: none;
            }
            .description{
                display: flex;
            }
        }
        
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;;
            background: white;
            h2{
                font-weight: normal;
                font-size: 1.4em;
                width: 100%;
                color: #333;
                text-align: center;
                margin: 0;
                padding: 0;
                @media #{$mq-desktops-laptops}{
                    font-size: 1.2em;
                }     
            }
        }

        .description{
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 300px;
            padding: 10px;
            background: black;
            h2{
                color: white;
                font-size: 1.2em;
                text-align: center;
                margin-top: 5px;
                margin-bottom: 20px;
                font-weight: bold;
            }
            p{
                color: white;
                line-height: 17pt;
                font-size: 0.9em;
            }
            button{
                margin-top: 30px;
            }
        }
    }
    button, a{
        border: none;
        text-decoration: none;
        padding: 8px;
        width: 90%;
        height: 38px;
        text-align: center;
        border-radius: 3px;
        font-size: 1em;
        background: #069;
        color: white;
        cursor: pointer;
        &:hover{
            background: rgb(19, 60, 148);
            color: white;
        }
    }
}

// SEARCH BOX

.search-box{
    width: 100%;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7ea;
    padding: 40px auto;
    
    input{
        outline: none;
        align-self: center;
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 1.4em;
        width: 50%;
        height: 50px;
        flex-grow: 0;
        &::placeholder{
            font-size: 0.9em;
        }
        &:focus{
            border: 1px solid $verde-neuromat;
            &::placeholder{
                color: $verde-neuromat;
            }
        }
    }

    button{
        align-self: center;
        width: 100px;
        height: 50px;;
        flex-grow: 0;
        background: white;
        &:hover{
            background: $verde-neuromat;
            color: white;
        }
    }
}


// POST CONTENT
.post-feature-item{
    display: flex;
    .post-feature-image{
        width: 45%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #ccc;  
        background-position: center;
        margin-right: 15px;
        border-radius: 3px;
    }
    .post-feature-info{
        width: 70%;
        h3{
            margin-top: 0;
        }
    }
}


.post-item{
    display: flex;
    flex-direction: column; 
    width: 25%;
    margin: 5px;
    .post-image-box{
        width: 100%;
        height: 200px;
        .post-image{
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;  
            background-color: #ccc;
            border-radius: 3px;      
        }
    
    }
    small{
        font-weight: bold;
        color: #333;
        background: khaki;
    }    
    .post-title{
        margin-top: 12px;
        margin-bottom: 20px;
        padding: 0;
        font-size: 1.2em;
        line-height: 17pt;
        height: 60px;

    }
    p{
        line-height: 17pt;
    }
}

// PROJECT SLIDESHOW
.project-slideshow-component{
    display: flex;
    width: 100%;
    height: 300px;
 
    .swiper-container {
        width: 100%;
        height: 300px;

        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                filter: grayscale(0.9);
                opacity: 0.5;
                transition: all ease 0.5s;
                &:hover{
                    opacity: 1;
                    filter: grayscale(0);
                }
            }
        }
        
        .swiper-pagination{
            .swiper-pagination-bullet{
                width: 12px;
                height: 12px;
            
                cursor: pointer;
            }
        }
    }
    
}

// HEADING
.title-section{
    margin: 25px auto 20px auto;
    padding: 0;
    font-size: 1.5em;
}

// NEWSLETTER
.newsletter-lead{
    margin-top: 40px;
    input{
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 70%;
        height: 35px;
        padding: 4px 6px;
        font-size: 1em;
    }
    button{
        width: 100px;
        height: 34px;
    }
}

.youtube-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #DADCE0;
    border-radius: 3px;
    iframe{
        width: 100%;
        height: 390px;
    }
}

// COLORS BG
.bg-blue{
    background: cornflowerblue;
}

.bg-sepia{
    background: #f7f7ea;
    margin-top: 15px;
}

// LAST EVENTS
.last-events{
    margin-top: 10px;
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            padding: 6px 8px;
            border: 1px solid #f3f3f3;
            a{
                color: #333;
                text-decoration: none;
                &:hover{
                    color: #069;

                }
            }
            .title{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 1.1em;
            }
        }
        p{
            margin-top: 10px;
        }
    }
}

// MISC
.container-posts{
    display: flex;
}

.container-paralax{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px auto;
    height: 400px;
}

.newsletter-box{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            border-bottom: 1px solid #ccc;
            h2{
                font-size: 1.3em;
                small{
                    font-weight: bold;
                    color: #333;
                    background: khaki;
                }
            }
        }
    }
}

.podcast-button{  
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding-left: 110px;
    background-image:url('../img/podcast_cover.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 0;
    background-color: #131e4c;
    width: 100%;
    height: 90px;;
    color: #6186c4;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 30px;
    flex-grow: 0;
    flex-shrink: 0;

    @media #{$mq-desktops-laptops}{
        font-size: 1em;
        background-size: 70px;
        margin-top: 10px;
        height: 70px;
    }     

    &:hover{
        border: 1px solid $verde-neuromat;
    }
}

// FOOTER
footer{
    width: 100%;
    min-height: 200px;
    background: #333;
    margin-top: 50px;
}


// OVERIDES
.container-fluid{
    padding-top: 30px;
    padding-bottom: 30px;
}


// DEBUG TEMP
.debug{
    border: 1px solid red;
}

//VENDOR
.slider-wrapper {
    width: 100%;
    height: 380px;
    background: #000;
    overflow: hidden;
    position: relative;
  }
  
  .inner-wrapper {
    width: 500%;
    height: 100%;
    position: relative;
    left: -100%;
  }
  
  
  .slide {
    width: calc(100%/5);
    height: 100%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    float: left;
    position: relative;
    .image-frame{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .slide-info{
        top:0;
        left: 0;
        width: 100%;
        height: 380px;
        position: absolute;
        z-index: 8000;
        padding: 40px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(0,0,0,1) 42%, rgba(0,0,0,0) 100%);
        @media #{$mq-desktops-laptops}{
            background: linear-gradient(90deg, rgba(0,0,0,1) 48%, rgba(0,0,0,0) 100%);
        }                
        .slide-title{
            color: white;
            font-size: 0.35em;
            width: 50%;
            line-height: 54px;
            padding-bottom: 0;
            min-height: 130px;
            @media #{$mq-desktops-laptops}{
                font-size: 0.25em;
                line-height: 35px;
            }               
        }
        button{
            min-width: 200px;
            padding: 8px;
            font-size: 18px;
            border: none;
            border-radius: 4px;
            margin-left: 20px;
            &:hover{
                background: $verde-neuromat;
                color: white;
            }
        }
    }
  }
  
  .button {
    width: 30px;
    height: 30px;
    border-top: 2px solid black;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  
  .prev {
    border-left: 2px solid black;
    left: 5%;
    transform: rotate(-45deg);
    z-index: 8500;
    &:hover{
        border-color: $verde-neuromat;
    }    
  }
  
  .next {
    border-right: 2px solid black;
    right: 5%;
    transform: rotate(45deg);
    z-index: 8500;
    &:hover{
        border-color: $verde-neuromat;
    }       
  }
  