@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, span, a {
  font-family: "Open Sans", sans-serif;
}

.section-title {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid green;
}
.section-title span {
  position: relative;
}
.section-title span:before {
  content: "";
  bottom: -3px;
  left: 0;
  width: 120%;
  height: 2px;
  background-color: #4e852e;
  z-index: 500;
  position: absolute;
}

.app-portal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.app-portal header {
  display: flex;
  width: 80%;
  height: 80px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.app-portal header .logo {
  width: 200px;
  height: 80px;
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.app-portal header nav {
  width: 70%;
}
.app-portal header nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  z-index: 9999;
}
.app-portal header nav ul li.social-media-link {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0;
  border: none;
}
.app-portal header nav ul li.social-media-link:hover {
  border: none;
}
.app-portal header nav ul li.social-media-link a {
  color: #333;
  font-size: 1.2em;
}
.app-portal header nav ul li.social-media-link a:hover {
  color: #12587a;
}
.app-portal header nav ul li {
  margin-right: 15px;
  padding: 15px;
  position: relative;
  border: 1px solid transparent;
}
.app-portal header nav ul li:hover {
  border: 1px solid #333;
}
.app-portal header nav ul li:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 99000;
}
.app-portal header nav ul li:hover ul {
  display: flex;
}
.app-portal header nav ul li a {
  color: #333;
  text-decoration: none;
}
.app-portal header nav ul li ul {
  display: none;
  position: absolute;
  top: 48px;
  left: -1px;
  flex-direction: column;
  background: white;
  width: 220px;
  margin: 0;
  padding: 5px 0 0 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  list-style: none;
}
.app-portal header nav ul li ul li {
  display: flex;
  padding: 8px;
  width: 100%;
  margin: 0;
}
.app-portal header nav ul li ul li:hover {
  background: #f3f3f3;
  border: 1px solid transparent;
}

.section-default {
  width: 80%;
  margin: auto;
}

.promo-banner {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  background: transparent;
  display: flex;
  box-shadow: 4px 4px 10px black;
}
.promo-banner .promo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
  margin: 2px;
  border: 0.5px solid white;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
.promo-banner .promo-item:hover {
  border: 0.5px solid #2dc450;
}
.promo-banner .promo-item:hover .title {
  display: none;
}
.promo-banner .promo-item:hover .description {
  display: flex;
}
.promo-banner .promo-item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: white;
}
.promo-banner .promo-item .title h2 {
  font-weight: normal;
  font-size: 1.4em;
  width: 100%;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width : 1224px) {
  .promo-banner .promo-item .title h2 {
    font-size: 1.2em;
  }
}
.promo-banner .promo-item .description {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 10px;
  background: black;
}
.promo-banner .promo-item .description h2 {
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}
.promo-banner .promo-item .description p {
  color: white;
  line-height: 17pt;
  font-size: 0.9em;
}
.promo-banner .promo-item .description button {
  margin-top: 30px;
}
.promo-banner button, .promo-banner a {
  border: none;
  text-decoration: none;
  padding: 8px;
  width: 90%;
  height: 38px;
  text-align: center;
  border-radius: 3px;
  font-size: 1em;
  background: #069;
  color: white;
  cursor: pointer;
}
.promo-banner button:hover, .promo-banner a:hover {
  background: #133c94;
  color: white;
}

.search-box {
  width: 100%;
  height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7ea;
  padding: 40px auto;
}
.search-box input {
  outline: none;
  align-self: center;
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.4em;
  width: 50%;
  height: 50px;
  flex-grow: 0;
}
.search-box input::placeholder {
  font-size: 0.9em;
}
.search-box input:focus {
  border: 1px solid #2dc450;
}
.search-box input:focus::placeholder {
  color: #2dc450;
}
.search-box button {
  align-self: center;
  width: 100px;
  height: 50px;
  flex-grow: 0;
  background: white;
}
.search-box button:hover {
  background: #2dc450;
  color: white;
}

.post-feature-item {
  display: flex;
}
.post-feature-item .post-feature-image {
  width: 45%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-position: center;
  margin-right: 15px;
  border-radius: 3px;
}
.post-feature-item .post-feature-info {
  width: 70%;
}
.post-feature-item .post-feature-info h3 {
  margin-top: 0;
}

.post-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 5px;
}
.post-item .post-image-box {
  width: 100%;
  height: 200px;
}
.post-item .post-image-box .post-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
  border-radius: 3px;
}
.post-item small {
  font-weight: bold;
  color: #333;
  background: khaki;
}
.post-item .post-title {
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 1.2em;
  line-height: 17pt;
  height: 60px;
}
.post-item p {
  line-height: 17pt;
}

.project-slideshow-component {
  display: flex;
  width: 100%;
  height: 300px;
}
.project-slideshow-component .swiper-container {
  width: 100%;
  height: 300px;
}
.project-slideshow-component .swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-slideshow-component .swiper-container .swiper-slide img {
  filter: grayscale(0.9);
  opacity: 0.5;
  transition: all ease 0.5s;
}
.project-slideshow-component .swiper-container .swiper-slide img:hover {
  opacity: 1;
  filter: grayscale(0);
}
.project-slideshow-component .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.title-section {
  margin: 25px auto 20px auto;
  padding: 0;
  font-size: 1.5em;
}

.newsletter-lead {
  margin-top: 40px;
}
.newsletter-lead input {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 70%;
  height: 35px;
  padding: 4px 6px;
  font-size: 1em;
}
.newsletter-lead button {
  width: 100px;
  height: 34px;
}

.youtube-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #DADCE0;
  border-radius: 3px;
}
.youtube-box iframe {
  width: 100%;
  height: 390px;
}

.bg-blue {
  background: cornflowerblue;
}

.bg-sepia {
  background: #f7f7ea;
  margin-top: 15px;
}

.last-events {
  margin-top: 10px;
}
.last-events ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.last-events ul li {
  padding: 6px 8px;
  border: 1px solid #f3f3f3;
}
.last-events ul li a {
  color: #333;
  text-decoration: none;
}
.last-events ul li a:hover {
  color: #069;
}
.last-events ul li .title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}
.last-events ul p {
  margin-top: 10px;
}

.container-posts {
  display: flex;
}

.container-paralax {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px auto;
  height: 400px;
}

.newsletter-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.newsletter-box ul li {
  border-bottom: 1px solid #ccc;
}
.newsletter-box ul li h2 {
  font-size: 1.3em;
}
.newsletter-box ul li h2 small {
  font-weight: bold;
  color: #333;
  background: khaki;
}

.podcast-button {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding-left: 110px;
  background-image: url("../img/podcast_cover.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 0;
  background-color: #131e4c;
  width: 100%;
  height: 90px;
  color: #6186c4;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 30px;
  flex-grow: 0;
  flex-shrink: 0;
}
@media only screen and (min-width : 1224px) {
  .podcast-button {
    font-size: 1em;
    background-size: 70px;
    margin-top: 10px;
    height: 70px;
  }
}
.podcast-button:hover {
  border: 1px solid #2dc450;
}

footer {
  width: 100%;
  min-height: 200px;
  background: #333;
  margin-top: 50px;
}

.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

.debug {
  border: 1px solid red;
}

.slider-wrapper {
  width: 100%;
  height: 380px;
  background: #000;
  overflow: hidden;
  position: relative;
}

.inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;
}

.slide {
  width: calc(100%/5);
  height: 100%;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  float: left;
  position: relative;
}
.slide .image-frame {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slide .slide-info {
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  position: absolute;
  z-index: 8000;
  padding: 40px;
  background: #020024;
  background: linear-gradient(90deg, black 42%, rgba(0, 0, 0, 0) 100%);
}
@media only screen and (min-width : 1224px) {
  .slide .slide-info {
    background: linear-gradient(90deg, black 48%, rgba(0, 0, 0, 0) 100%);
  }
}
.slide .slide-info .slide-title {
  color: white;
  font-size: 0.35em;
  width: 50%;
  line-height: 54px;
  padding-bottom: 0;
  min-height: 130px;
}
@media only screen and (min-width : 1224px) {
  .slide .slide-info .slide-title {
    font-size: 0.25em;
    line-height: 35px;
  }
}
.slide .slide-info button {
  min-width: 200px;
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
}
.slide .slide-info button:hover {
  background: #2dc450;
  color: white;
}

.button {
  width: 30px;
  height: 30px;
  border-top: 2px solid black;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.prev {
  border-left: 2px solid black;
  left: 5%;
  transform: rotate(-45deg);
  z-index: 8500;
}
.prev:hover {
  border-color: #2dc450;
}

.next {
  border-right: 2px solid black;
  right: 5%;
  transform: rotate(45deg);
  z-index: 8500;
}
.next:hover {
  border-color: #2dc450;
}

/*# sourceMappingURL=main-portal.css.map */
